@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: "Ancizar Serif", serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type="color"] {
  border-radius: 50%;
  inline-size: 2rem;
  block-size: 2rem;
  cursor: pointer;
  /* padding: 3px; */
  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(153, 153, 153); */
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
}

.dotsBg {
  background-color: #fffdee;
  background-image: radial-gradient(#ccd5ae 0.5px, #fffdee 0.5px);
  background-size: 10px 10px;
}